<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd">

 <!--   <bean id="userDao" class="cn.wormholestack.mpring.context.test.beans.UserDao"/>-->
    <bean id="userDao" class="cn.wormholestack.mpring.context.test.beans.UserDao" init-method="initMethod" destroy-method="destroyMethod"/>
    <bean id="userService" class="cn.wormholestack.mpring.context.test.beans.UserService" scope="prototype">
        <property name="name" value="MPring"/>
        <property name="userDao" ref="userDao"/>
    </bean>

<!--    <bean class="cn.wormholestack.mpring.context.test.processor.MyBeanPostProcessor"/>
    <bean class="cn.wormholestack.mpring.context.test.processor.MyBeanFactoryPostProcessor"/>-->
    <bean id="proxyUserDao" class="cn.wormholestack.mpring.context.test.beans.ProxyBeanFactory"/>

</beans>