<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="cn.wormholestack.mpring.beans.factory.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:car.properties"/>
    </bean>

    <bean id="car" class="cn.wormholestack.mpring.context.test.beans.Car">
        <property name="brand" value="${brand}"/>
    </bean>

</beans>